<div id="recipedetails">
    <h1 id="recipeTitle"></h1></br>
    <p>Prep Time: <span id="prepTime"></span></p></br>
    <p>Prep Time: <span id="cookTime"></span></p></br>
    <h4>Ingredients</h4></br>
    <table id="ingredientsdisplay" class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ingredient</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table></br>
<h4>Steps</h4></br>
<table id="stepsdisplay" class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Steps</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table></br>
        
<button type="button" class="sidecarbuttons" onclick="location.reload()">Finish Cooking</button>

            
</div>