<div class="headers">
    <h2 class="animation a1">Welcome Back</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>
    <div class="form">
      <input type="email" class="form-field animation a3" placeholder="Email Address">
      <input type="password" class="form-field animation a4" placeholder="Password">
      <button class="animation a6 sidecarbuttons">LOGIN</button>
    </div>
</div>

