
<table id="recipeListCollection" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Recipe</th>
                <th scope="col">Cooking Time</th>
                <th scope="col">Prep Time</th>
                <th>Button</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>