
<div class="headers">
    <h2 class="animation a1">Join Us</h2>
    <h4 class="animation a2">We promise to make it worth your time</h4></br>
    <div class="form">
        <input type="text" id="fname" class="form-field animation a3" name="fname" placeholder="First Name">
        <input type="text" id="lname" class="form-field animation a4" name="lname" placeholder="Last Name">
        <input type="email" id="email" name="email" class="form-field animation a5" placeholder="Email Address">
        <input type="password" id="pwd" name="pwd" class="form-field animation a6" placeholder="Password">

        <button id="createAccountButton" class="animation a7 sidecarbuttons">CREATE ACCOUNT</button>


    </div>
</div>