<div class="headers">
    <h2 class="animation a1">Cooking Made Simple</h2></br>
    <h4 class="animation a2">The best place to store all your favourite recipes as well as find new ones</h4>
</div>
<div class="buttongroup">
<button id="signupButton" class="animation a3 sidecarbuttons">SIGN UP</button>
<button id="loginButton" class="animation a3 sidecarbuttons">LOGIN</button>
</div>