<div class="sidecar-master">
    <div class="right">
        <div id="welcomeScreen">{{> welcomescreen}}</div>
        <div id="signupScreen">{{> signup-block}}</div>
        <div id="loginScreen">{{> login-block}}</div>
        
    </div>
</div>