* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: normal;
}

#addrecipeScreen {
    display: none;
}

#cookmeScreen {
    display: none
}

.sidecarbuttons {

    min-width: 20% !important;
    padding: 12px 10px;
    border: 0;
    font-size: larger;
    background: linear-gradient(to right, #22e4ac 0%, #1bd7bb 100%); 
    border-radius: 50px;
    margin-top: 40px;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
  }

  .sidecarbuttons:hover {
    font-size: 130%;
    background: linear-gradient(to right, #22e4ac 100%, #1bd7bb 0%); 
   
}

body {
    background-color: #f1f4f5 !important;
}
.navbar {
    background-color: #00b190FF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.navbar .dropdown-menu-right { 
    right: 0; 
    left: auto; 
}

#bootstrap-overider .container-fluid {
    margin-top: 50px;
}

#left {
    background-color: #282f38;
    height: 100%;
    position: fixed;
   
}

#left a{
background-color: transparent;
border-radius: 0%;
border-top-style: solid;
border-bottom-style: solid;
border-left: none;
border-right: none;
border-color: white;
color: white;
padding-left: 10%;

}

.list-group-item.active {
    background-color: #00b19099 !important;
    color: white !important;
}






